# Build folders
.svelte-kit
.wireit
build
package
dist

# Asset folders
static
assets

# Miscellaneous
node_modules

# `"eslint"` tries to `require` `"@sveltejs/adapter-static"`
svelte.config.js
vite.config.js